{%extends "base.html"%}

{%block title%} Login {%endblock%}

{%block content%}

{%if error%}
<div class="alert alert-danger text-center mb-3" role="alert" id="error">{{ error }}</div>
{%endif%}

<div id="login_form" name="login_form">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Write your username here">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Write your password here">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock%}