{%extends "base.html"%}

{%block title%} Register {%endblock%}

{%block content%}

{%if error%}
<div class="alert alert-danger text-center mb-3" role="alert" id="error">{{ error }}</div>
{%endif%}

<div id="register_form" name="register_form">
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Write your username here">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Write your password here">
        </div>
        <div class="form-group">
            <label for="password_check">Repeat password</label>
            <input type="password" class="form-control" id="password_check" name="password_check" placeholder="Repeat password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <div class="register_login">
        <span class="text">Already have an account? <a id="register_login_link" class="text signup-link">Log in</a></span>
    </div>
</div>

<script>
    document.getElementById("register_login_link").onclick = function() {
    location.href = "http://127.0.0.1:5000/login"
};
</script>
{%endblock%}